<mat-sidenav-container fullscreen>
    <mat-sidenav #sidenav>
      <mat-nav-list (click)="sidenav.close()">
        <a mat-list-item routerLink="/">
          <img src="https://ci4.googleusercontent.com/proxy/Em0wIOBZNCMdCk_o2Yw0gKBFGPWyJXBwE4cLmubF-VKDYAXWOM6qOr2L65sOPWquycsl-n64jyh1taXifohAlzDd_OZXuutrFk5V=s0-d-e1-ft#https://isignimages.s3.ap-south-1.amazonaws.com/Logo.png" class="img-fluid" alt="">
        </a>
        <a mat-list-item routerLink="/dashboard">
            <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="home">home</mat-icon>
          <span>
            Home
          </span>
        </a>
        <a mat-list-item routerLink="/studentAdd">
          <mat-icon>
            person_add
          </mat-icon>
          <span>
            Add Students
          </span>
        </a>

        <a mat-list-item (click)="onLogOut()">
            <i class="fa-solid fa-backward"></i>
            <span>
              Log Out
            </span>
          </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.open()">
        <mat-icon>
          menu
        </mat-icon>
      </button>
      <a routerLink="/dashboard" class="admin" mat-button>
        <mat-icon>
          person_add
        </mat-icon>
         Admin
      </a>
    </mat-toolbar>
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <router-outlet></router-outlet>
                <div class="loading">
                    <div class="loader" *ngIf="loader"></div>
                </div>
            </div>
        </div>
    </div>
  </mat-sidenav-container>